:root{/*************colores***************/
    --bgColorBody: #FAFAFA;
    --bgColorHeader: #FFFFFE;
    --botonColor: #0095F6;
    --linkColor1: #385185;
    --textColor : #262626;
    --linkDisColor: #8E8E8E;
    --borderColor: #cccccc;
    --bgSearchBarColor: #EFEFEF;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0.1px solid red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
html{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.body{
    width: 950px;
    height: 100vh;
    background-color: var(--bgColorBody);
}


/*******************************/
/**************HEADER***********/
/*******************************/


.header{
    width: 100%;
    height: 410px;
    background-color: rgb(0, 255, 85);
}
/************HEADER NAV***********/
.header__nav{
    width: 100%;
    height: 60px;
    background-color: var(--bgColorHeader);
    border-bottom:0.5px solid var(--borderColor); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__nav div{
    width: 33.33%;
    height: 100%;
}
/************************/
.header__nav_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__nav_logo img{
    width: 106px;
}
/**************************/
.header__nav_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__nav_search input{
    width: 270px;
    height: 37px;
    background-color: var(--bgSearchBarColor);
    border-radius: 7px;
    border: 0px none;
    padding-left: 30px;
    font-size: 1.02em;
 }
 /**************************/
.header__nav_links{
    background-color: var(--bgColorHeader);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header__nav_links a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__nav_links img{
    width: 24px;
    height: 24px;
    margin-left: 20px;
}
/************HEADER: INFORMACION***********/
.header__info{
    width: 100%;
    height: 350px;
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/************HEADER: FOTOPERFIL***********/
.header__info_fotoPerfil{
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header__info_fotoPerfil img{
    border-radius: 100%;
}
/************HEADER:DATA***********/
.header__info_data{
    width: 66.66%;
    height: 100%;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*********************/
.data__nombre{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.data__nombre_p{
    width: 210px;
    height: 100%;
    font-size: 28px;
    font-weight:lighter;
    display: flex;
    align-items: center;
}
.data__nombre_botonMas{
    width: 30px;
    height: 30px;
    border: 0px none;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 5;
}
.data__nombre_botonMas img{
    width: 100%;
}
.data__nombre_botonesMensaje{
    width: 260px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data__nombre_botonMsje{
    width: 118px;
    height: 100%;
    border: 0.3px solid var(--borderColor);
    border-radius: 3px;
    font-weight: bolder;
    color:var(--textColor);
    background-color:var(--bgColorBody);
    font-size: 00.9em;
}
.data__nombre_botonSeguir{
    width: 70px;
    height: 100%;
    border: 0.3px solid var(--borderColor);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:var(--bgColorBody);
}
.data__nombre_botonSeguir img{
    width: 30px;
}
.data__nombre_botonFlecha{
    width: 30px;
    height: 30px;
    border: 0.3px solid var(--borderColor);
    border-radius: 3px;
    background-color:var(--bgColorBody);
}
.data__nombre_botonFlecha img{
    width: 100%;
}
/********************/
.data__seguidores{
    width: 100%;
    height: 50px;
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.seguidores__publicaciones,
.seguidores__seguidores,
.seguidores__seguidos
{
    width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
}
/***********************/
.data__descripcion{
    width: 100%;
    height: 230px;
    background-color: purple;
    display: flex;
    align-items: center;
}
.data__descripcion p{
    line-height: 25px;
}
.span__bold{
    font-weight: bold;
    padding-right: 3px;
}
.span__bolder{
    font-weight: bolder;
}
.span__grey{
    color:var(--linkDisColor)
}
.data__descripcion a{
    text-decoration: none;
    font-weight: bolder;
    color:var(--linkColor1);
}

/*******************************/
/*******CONTENIDO***************/
/*******************************/

.contenido{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    
}
/*******CONTENIDO: DESTACADAS******/
.contenido__destacadas{
    width: 100%;
    height: 180px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenido__destacadas div{
    width: 115px;
    height: 130px;
    font-weight: bolder;
    border: 0.3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.contenido__destacadas img{
    border-radius: 100%;
    width: 80%;
    padding: 2px;
    display: flex;
    border: 0.9px solid var(--borderColor); 
}
/*********CONTENIDO: NAV*********/
.contenido__nav{
    width: 100%;
    height: 54px;
    background-color:crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid var(--borderColor);
}
.contenido__nav div{
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--linkDisColor);
}
.contenido__nav p{
    font-size: 12px;
}
.contenido__nav img{
    width: 16px;
    height: 16px;
}
.contenido__nav_1 {
    width: 120px;
    border-top: 1px solid var(--textColor);
    margin-right: 60px ;
}
.contenido__nav_1 p {
    color:var(--textColor);
}
.contenido__nav_2, .contenido__nav_3, .contenido__nav_4{
    width: 120px;
}
/*********CONTENIDO: FOTOS*********/
.contenido__fotos{
    width: 100%;
    height: 620px;
    background-color: rgb(221, 224, 28);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.contenido__fotos div{
    width: 295px;
    height: 295px;
    background-color: rgb(255, 166, 0) ;
}
.contenido__fotos img{
    width: 100%;
}

/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*////////// MEDIAQUERY max-width: 1024px///////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/

@media screen and (max-width:1024px) {
    .body{
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColorBody);
    }
    
    
    /*******************************/
    /**************HEADER***********/
    /*******************************/
    
    
    .header{
        width: 100%;
        height: 410px;
        /* background-color: rgb(0, 255, 85); */
    }
    /************HEADER NAV***********/
    .header__nav{
        width: 100%;
        height: 60px;
        background-color: var(--bgColorHeader);
        border-bottom:0.5px solid var(--borderColor); 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__nav div{
        width: 33.33%;
        height: 100%;
    }
    /************************/
    .header__nav_logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__nav_logo img{
        width: 106px;
    }
    /**************************/
    .header__nav_search{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header__nav_search input{
        width: 270px;
        height: 37px;
        background-color: var(--bgSearchBarColor);
        border-radius: 7px;
        border: 0px none;
        padding-left: 30px;
        font-size: 1.02em;
     }
     /**************************/
    .header__nav_links{
        background-color: var(--bgColorHeader);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .header__nav_links a{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .header__nav_links img{
        width: 24px;
        height: 24px;
        margin-left: 20px;
    }
    /************HEADER: INFORMACION***********/
    .header__info{
        width: 100%;
        height: 350px;
        /* background-color: gold; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /************HEADER: FOTOPERFIL***********/
    .header__info_fotoPerfil{
        width: 33.33%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header__info_fotoPerfil img{
        border-radius: 100%;
    }
    /************HEADER:DATA***********/
    .header__info_data{
        width: 66.66%;
        height: 100%;
        /* background-color: orangered; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*********************/
    .data__nombre{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
    }
    .data__nombre_p{
        width: 210px;
        height: 100%;
        font-size: 28px;
        font-weight:lighter;
        display: flex;
        align-items: center;
    }
    .data__nombre_botonMas{
        width: 30px;
        height: 30px;
        border: 0px none;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 5;
    }
    .data__nombre_botonMas img{
        width: 100%;
    }
    .data__nombre_botonesMensaje{
        width: 260px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .data__nombre_botonMsje{
        width: 118px;
        height: 100%;
        border: 0.3px solid var(--borderColor);
        border-radius: 3px;
        font-weight: bolder;
        color:var(--textColor);
        background-color:var(--bgColorBody);
        font-size: 00.9em;
    }
    .data__nombre_botonSeguir{
        width: 70px;
        height: 100%;
        border: 0.3px solid var(--borderColor);
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color:var(--bgColorBody);
    }
    .data__nombre_botonSeguir img{
        width: 30px;
    }
    .data__nombre_botonFlecha{
        width: 30px;
        height: 30px;
        border: 0.3px solid var(--borderColor);
        border-radius: 3px;
        background-color:var(--bgColorBody);
    }
    .data__nombre_botonFlecha img{
        width: 100%;
    }
    /********************/
    .data__seguidores{
        width: 100%;
        height: 50px;
        /* background-color: greenyellow; */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .seguidores__publicaciones,
    .seguidores__seguidores,
    .seguidores__seguidos
    {
        width: 160px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    /***********************/
    .data__descripcion{
        width: 100%;
        height: 230px;
        /* background-color: purple; */
        display: flex;
        align-items: center;
    }
    .data__descripcion p{
        line-height: 25px;
    }
    .span__bold{
        font-weight: bold;
        padding-right: 3px;
    }
    .span__bolder{
        font-weight: bolder;
    }
    .span__grey{
        color:var(--linkDisColor)
    }
    .data__descripcion a{
        text-decoration: none;
        font-weight: bolder;
        color:var(--linkColor1);
    }
    
    /*******************************/
    /*******CONTENIDO***************/
    /*******************************/
    
    .contenido{
        width: 100%;
        height: 100vh;
        /* background-color: blue; */
        
    }
    /*******CONTENIDO: DESTACADAS******/
    .contenido__destacadas{
        width: 100%;
        height: 180px;
        /* background-color: aqua; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contenido__destacadas div{
        width: 115px;
        height: 130px;
        font-weight: bolder;
        /* border: 0.3px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }
    .contenido__destacadas img{
        border-radius: 100%;
        width: 80%;
        padding: 2px;
        display: flex;
        border: 0.9px solid var(--borderColor); 
    }
    /*********CONTENIDO: NAV*********/
    .contenido__nav{
        width: 100%;
        height: 54px;
        /* background-color:crimson; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.5px solid var(--borderColor);
    }
    .contenido__nav div{
        height: 100%;
        /* background-color: gray; */
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--linkDisColor);
    }
    .contenido__nav p{
        font-size: 12px;
    }
    .contenido__nav img{
        width: 16px;
        height: 16px;
    }
    .contenido__nav_1 {
        width: 120px;
        border-top: 1px solid var(--textColor);
        margin-right: 60px ;
    }
    .contenido__nav_1 p {
        color:var(--textColor);
    }
    .contenido__nav_2, .contenido__nav_3, .contenido__nav_4{
        width: 120px;
    }
    /*********CONTENIDO: FOTOS*********/
    .contenido__fotos{
        width: 100%;
        height: 620px;
        /* background-color: rgb(221, 224, 28); */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
    }
    .contenido__fotos div{
        width: 295px;
        height: 295px;
        /* background-color: rgb(255, 166, 0) ; */
    }
    .contenido__fotos img{
        width: 100%;
    }
    
   
}