*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.body{
    width: 1000px;
    height: 1250px;
    background-color: rgb(240, 233, 223);
    border: 2px dotted  rgb(252, 0, 0);
    display: flex;
    flex-direction: column;
}


/*************HEADER*************/



.body__header{
    width: 100%;
    height: 515px;
    /* border: 2px solid  black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header__contenedorImg{
    width: 50%;
    /* border: 2px solid  black; */
    display: flex;
    flex-direction: column;
}

.header__titulo{
    width: 50%;
    /* border: 2px solid  black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;


}
.titulo__h1{
    width: 350px;
    height: 200px;
    font-size: 50px;
    margin: 0px;
    background-color: white;
    border: 5px solid  black;
    box-shadow: 10px 10px 10px solid  black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.titulo__h3{
    padding: 3px;
    border: 2px solid  black;
    text-align: center;
}

.titulo__p{
    /* border: 2px solid  black; */
    text-align: center;
}
.header__rrss{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rrss__a{
    width: 30px;
    height: 30px;
        display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*************MAIN*************/

.body__main{
    width: 100%;
    height: 600px;
    /* border: 2px solid  black; */
    display: flex;
    flex-direction: row;


}

.main__section{
    width: 50%;
    height: 100%;
    /* border: 2px solid  black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*************MAIN-IZQ*************/

.section__articleIZQ{
    height: 50%;
    /* border: 2px solid  black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.articleIZQ__p{
    width: 80%;
    text-align: center;
    
}

.estudios{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.articleIZQ__h3{
    margin: 0px 0px 10px;
    font-weight: 700;
}
.articleIZQ__h4{
    margin: 5px 0px;
}
.articleIZQ__estudios_p{
    margin: 0px;
}

/*************MAIN-DER-Experiencia*************/

.section-experiencia{
    padding: 5px 20px 10px 0px;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;

}

.section__articleDER{
    display: flex;
    flex-direction: row;
}
.articleDER__h4{
   margin: 5px;
}
.articleDER__h3{
    padding-left: 43px;
    /* border: 2px solid  black; */
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
}
.articleDER__p{
    margin-bottom: 5px;
}

/*************ASIDE - Skills*************/

.main__aside{
    width: 100%;
    height: 200px;
    /* border: 2px solid  black; */
    display: flex;
    flex-direction: row;

}
.aside__h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.aside__skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid  black; */
}
.skills__p--porcent{
    font-weight: bold;
}

