*{
    box-sizing: border-box;
    color: wheat;
    margin: 0px;
    text-align: center;
    padding: 0px;
}
.body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "header"
                        "central"
                        "central"
                        "central"
                        "central"
                        "footer";
}
/******************************************/
/******************************************/
.header{
    grid-area: header;
    display: grid;
    grid-template-areas: "header header imagen";
}
.header__div__header{
    padding-top: 10px;
    grid-area: header;
    background-color: rgb(211, 79, 3);
}
.header__div__imagen{
    padding-top: 10px;
    grid-area: imagen;
    background-color: rgb(143, 35, 2);
}
/******************************************/
/******************************************/
.central{
    grid-area: central;
    display: grid;
    grid-template-areas: "aside contenido contenido";
}
.central__aside{
    padding: 5px;
    grid-area: aside;
    background-color: orange;
    display: grid;
    grid-template-areas: "aside0"
                        "aside1"
                        "aside2";
}
.aside__div1{
    padding-top: 5px;
    grid-area: aside0;
    background-color: wheat;
    color: orange;
}
.aside__div2{
    grid-area: aside1;
    background-color: orange;
    color: orange;
}
.aside__div3{
    padding-top: 5px;
    grid-area: aside2;
    background-color: wheat;
    color: orange;
}
/******************************************/
/******************************************/
.central__contenido{
    padding: 5px;
    grid-area: contenido;
    background-color: rgb(255, 81, 0);
    display: grid;
    grid-template-areas: "contenido"
                        "texto";
}
.contenido1{
    padding: 5px;
    margin-bottom: 2.5px;
    grid-area: contenido;
    border: 1px solid wheat;
}
.contenido2{
    padding: 5px;
    margin-top: 2.5px;
    grid-area: texto;
    border: 1px solid wheat;
}
/******************************************/
/******************************************/
.footer{
    grid-area: footer;
    display: grid;
    grid-template-areas: "footer";
}
.footer__div{
    padding-top: 10px;
    grid-area: footer;
    background-color: rgb(143, 35, 2);
}